**/packages/**
**/.vs/**
**/bin/**
**/obj/**
# Node modules shall not be added
**/node_modules/**
# Final JS output shall not be added
**/GWLogger/main.js
**/GWLogger/main.js.map
# Mid JS files shall not be added
**/GWLogger/Frontend/**/*.js
**/GWLogger/Frontend/**/*.js.map
!**/GWLogger/Frontend/introspection.js
# Final CSS output shall not be added
**/GWLogger/Less/main.css
# Skip nuget imported scripts
**/GWLogger/Scripts/**/*.*
**/GWLogger/styles/**/*.*
**/*.vpp~*
/GW3/TestResults

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates