<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataAccessSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DataAccessSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://caesar.psi.ch/DataAccess.asmx" binding="basicHttpBinding"
                bindingConfiguration="DataAccessSoap" contract="GWLoggerSoap.DataAccessSoap"
                name="DataAccessSoap" />
            <endpoint address="http://caesar.psi.ch/DataAccess.asmx" binding="customBinding"
                bindingConfiguration="DataAccessSoap12" contract="GWLoggerSoap.DataAccessSoap"
                name="DataAccessSoap12" />
        </client>
    </system.serviceModel>
</configuration>