<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataAccessSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://epics-gw-logger.psi.ch/DataAccess.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataAccessSoap"
                contract="GWLoggerSoap.DataAccessSoap" name="DataAccessSoap" />
        </client>
    </system.serviceModel>
</configuration>