@backgroundColor: #e6e6e6;
@boxShadow: #c8c8c8 1px 1px 2px;
@labelBackgroundColor: #3f51b5;
@labelColor: #FFFFFF;
@leftSidebar: 300px;
@timeRangeHeight: 100px;
@borderSpacing: 5px;
@tabTextColor: #e6dfdf;
@containerBackground: #FFFFFF;
@errorPanel: 150px;
@menuHoverBgColor: #707ece;
@middleSidebar: (@leftSidebar+5)/2;

body
{
    background-color: @backgroundColor;
    //color: black;
    color: #606060;
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
    user-select: none;
}

.scrollbarStyle
{
    &::-webkit-scrollbar
    {
        width: 10px;
    }

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }


    &::-webkit-scrollbar-thumb
    {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.container
{
    position: absolute;
    background-color: @containerBackground;
    box-shadow: @boxShadow;
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
}

.dataTable
{
    width: 100%;
    border-collapse: collapse;

    & tr > td
    {
        border-bottom: 1px solid #d3cfbc;
        padding: 10px 3px 10px 3px;
    }

    & thead td
    {
        font-weight: bold;
        color: #6b6750;
    }
}

.button
{
    cursor: pointer;
    background-color: @labelBackgroundColor;
    padding: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    color: @labelColor;
    border-radius: 3px;
    text-decoration: none;

    &:hover
    {
        background-color: #707ece;
    }
}

.containterLabel
{
    position: absolute;
    display: block;
    width: ~"calc(100% - 4px)";
    text-align: center;
    background-color: @labelBackgroundColor;
    border-bottom: solid 1px @labelBackgroundColor;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    color: @labelColor;
}

#sessionSelector
{
    .container;
    left: 0px;
    top: 0px;
    width: @leftSidebar;
    bottom: 5px;
    padding: 5px;
    padding-top: 17px;
    overflow: hidden;

    &:after
    {
        .containterLabel;
        content: "Session";
    }
}

.gatewaySelector
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#timeRange
{
    .container;
    top: 0px;
    left: (@leftSidebar + @borderSpacing);
    height: @timeRangeHeight;
    right: @borderSpacing;

    &:after
    {
        .containterLabel;
        content: "Time Range";
    }

    span
    {
        display: inline-block;
        width: 20px;
        font-size: 20px;
        font-weight: bold;
        line-height: @timeRangeHeight;
        vertical-align: top;
        text-align: center;
        cursor: pointer;
        background-color: lighten(@labelBackgroundColor,65%);
        color: lighten(@labelBackgroundColor,35%);

        &:hover
        {
            background-color: lighten(@labelBackgroundColor,60%);
        }
    }
}

#timeRangeCanvas
{
    //position: absolute;
    //left: 0px;
    //top: 17px;
    margin-top: 17px;
    width: ~"calc(100% - 40px)";
}

#helpView, #operationView
{
    .container;
    top: 35px;
    left: 0px;
    right: calc(@errorPanel + 10);
    bottom: 0px;
    overflow-y: hidden;
    display: none;

    &:after
    {
        .containterLabel;
        content: "Help";
    }
}

#helpContent, #operationContent
{
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
    text-align: justify;

    & table tr
    {
        vertical-align: central;
    }

    & a
    {
        color: blue;
        text-decoration: none;
        font-weight: bold;
    }
}

.helpMiddleContainer
{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 16px;
    background-color: #F8F8F8;
    padding: 0px 10px 20px 10px;
    border: solid 1px #F5F5F5;

    .fig
    {
        font-weight: bold;

        &:before
        {
            content: "(Fig. ";
            font-weight: bold;
        }

        &:after
        {
            content: ")";
            font-weight: bold;
        }
    }

    .actionToDo
    {
        &:before
        {
            content: "\21D2";
            margin-right: 10px;
            font-weight: bold;
        }

        font-weight: bold;
    }

    figure
    {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;

        img
        {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        figcaption
        {
            margin-top: 5px;
            text-align: center;
            font-weight: bold;
        }
    }
}

#gatewaySessions
{
    font-size: 12px;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    .scrollbarStyle;
    height: ~"calc(100% - 90px)";

    & table
    {
        .dataTable;
    }

    & table.k-selectable tbody > tr > td:nth-child(1), table.k-selectable tbody > tr > td:nth-child(2)
    {
        cursor: pointer;
    }
}

#fields
{
    position: absolute;
    top: (@timeRangeHeight + @borderSpacing);
    left: (@leftSidebar + @borderSpacing);
    right: @borderSpacing;
    font-size: 12px;
}

#queryField
{
    position: absolute;
    top: (@timeRangeHeight + @borderSpacing * 2 + 25);
    left: (@leftSidebar + @borderSpacing);
    right: calc(@borderSpacing * 2 + @errorPanel);
    width: ~"calc(100vw - @{errorPanel} - 315px)";
}

#clients
{
    .container;
    top: (@timeRangeHeight + @borderSpacing * 3 + 55);
    left: (@leftSidebar + @borderSpacing);
    width: ~"calc(50vw + 70px - @{errorPanel} - @{middleSidebar} - @{borderSpacing})";
    height: ~"calc(50% - @{timeRangeHeight} - @{borderSpacing} - 69px)";
    padding-top: 16px;
    //display: none;
    &:after
    {
        .containterLabel;
        content: "Clients";
    }
    /*& table
    {
        .dataTable;
    }*/
}

#servers
{
    .container;
    top: (@timeRangeHeight + @borderSpacing * 3 + 55);
    right: @borderSpacing;
    width: ~"calc(50vw + 70px  - @{errorPanel} - @{middleSidebar} - @{borderSpacing})";
    height: ~"calc(50% - @{timeRangeHeight} - @{borderSpacing} - 69px)";
    //display: none;
    padding-top: 16px;

    &:after
    {
        .containterLabel;
        content: "Servers";
    }
}

#logs
{
    .container;
    bottom: @borderSpacing;
    left: (@leftSidebar + @borderSpacing);
    right: @borderSpacing;
    height: ~"calc(50% - @{borderSpacing} - @{borderSpacing})";
    //display: none;
    //padding-top: 16px;
    &:before
    {
        .containterLabel;
        content: "Logs";
    }
}

#logsContent
{
    top: 50px;
    padding-top: 0px;
    overflow: hidden;
    height: ~"calc(100% - 53px)";
}

#logsContent tbody
{
    user-select: text !important;
}

#logsContent tbody > tr
{
    cursor: pointer;
}

.listContent
{
    padding-top: 16px;
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .scrollbarStyle;

    & table
    {
        .dataTable;
    }
}

.title
{
    font-weight: bold;
    color: #6b6750;
}

select
{
    padding: 3PX;
    outline: none;
}

.tabs
{
    margin-top: 16px;
    padding: 0px;
    padding-top: 2px;
    //background-color: lighten(@labelBackgroundColor, 35%);
    background-color: #3f51b5;

    & li
    {
        display: inline-block;
        //border: solid 1px @labelBackgroundColor;
        //background-color: #3f51b5;
        border-bottom: #3f51b5 3px solid;
        padding: 5px;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        padding-top: 7px;

        &:hover
        {
            background-color: @menuHoverBgColor;
        }
    }


    & .activeTab
    {
        //background-color: white;
        border-bottom: #44d9d9 3px solid;
        font-weight: bold;
    }

    & .inset
    {
        border-bottom: 1px solid #7180d7;
        border-right: 1px solid #7180d7;
        border-top: 1px solid #122171;
        border-left: 1px solid #122171;
    }
}

#clientsContent
{
    top: 0px;
    height: ~"calc(100% - 19px)";
    overflow: hidden;
    position: absolute;
}

#serversContent
{
    top: 0px;
    height: ~"calc(100% - 19px)";
    overflow: hidden;
    position: absolute;
}

#mouseCapture
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
    display: none;
}

#utcTime
{
    .container;
    bottom: @borderSpacing * 3 + 80px;
    width: @leftSidebar;
    left: 0px;
    height: 40px;
    padding-top: 20px;
    text-align: center;

    &:after
    {
        .containterLabel;
        content: "UTC Time";
    }
}

.dateInputs
{
    width: ~"calc(50vw - @{errorPanel} / 2 - 216px)";
}

#querySuggestions
{
    position: absolute;
    box-sizing: border-box;
    left: 305px;
    right: 5px;
    top: 170px;
    border: 1px solid black;
    padding: 0;
    display: none;
    z-index: 1;
    background: rgb(255, 253, 242);
    font-family: sans-serif;
    font-size: 14px;

    #suggestions
    {
        width: 100%;
        max-height: 193px;
        overflow-y: scroll;
        box-sizing: border-box;
        cursor: pointer;

        .suggestion-item
        {
            color: #606060;
            padding: 5px;
            background: rgb(255, 253, 242);
        }

        .suggestion-item:hover
        {
            background: rgb(250, 250, 250);
        }

        .suggestion-item.selected
        {
            border: 2px solid #3f51b5;
        }

        .hint
        {
            float: right;
        }
    }

    #suggestionsFooter
    {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        color: #606060;
        border-top: 1px solid black;
        padding: 5px;
        background: rgb(255, 253, 242);
        font-weight: bold;
    }
}

#detailInfo
{
    position: absolute;
    box-sizing: border-box;
    left: 305px;
    right: 5px;
    bottom: ~"calc(50% - @{borderSpacing} - @{borderSpacing} - 10px)";
    height: 200px;
    background: #fffdf2;
    border: solid 1px #606060;
    padding: 3px;
    display: none;

    table
    {
        width: 100%;
    }

    table td:nth-child(1), table td:nth-child(3)
    {
        width: 40px;
        font-weight: bold;
    }
}

.closeDetails
{
    position: absolute;
    top: 3px;
    right: 3px;

    &:before
    {
        content: "X";
        font-weight: bold;
        color: #E00000;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
}

.pseudoLink
{
    color: #0000E0;
    text-decoration: underline;
    cursor: pointer;
}

#prevDay
{
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #3e3e3e;
    margin-top: 50px;
    float: left;
    width: 10px;
    cursor: pointer;

    &:hover
    {
        border-right: 7px solid #a97373;
    }
}

#nextDay
{
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #3e3e3e;
    margin-top: 50px;
    float: right;
    width: 10px;
    cursor: pointer;

    &:hover
    {
        border-left: 7px solid #a97373;
    }
}

#logView
{
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    right: calc(@errorPanel + 5);
    bottom: 0px;
}

#gatewayView
{
    position: absolute;
    top: 35px;
    left: 0px;
    right: calc(@errorPanel + 5);
    bottom: 0px;
}

#mainTabs
{
    position: absolute;
    top: -16px;
    left: 0px;
    right: 0px;
}

.GWDisplay
{
    display: inline-block;
    background-color: white;
    text-align: center;
    margin: 3px;
    width: 140px;
    padding: 2px;
    border: solid 1px #f3f3f3;
    box-shadow: #eeeeee 1px 1px 2px;
    cursor: pointer;

    &:hover
    {
        border: solid 1px #d3dae6;
        box-shadow: #c3c3c3 1px 1px 2px;
    }
}

#gatewayBeamlines
{
    float: left;
    width: ~"calc(100vw - @{errorPanel} - 330px)";
    margin-right: 5px;
    margin-left: 5px;
    background-color: @containerBackground;
    box-shadow: @boxShadow;
    height: ~"calc(100% - 5px)";
    overflow: hidden;
    text-align: center;

    & .GWDisplay
    {
        width: 100px;
        font-size: 11px;
    }

    &:before
    {
        content: "Beamline Gateways";
        display: block;
        text-align: center;
        background-color: #3f51b5;
        border-bottom: solid 1px #3f51b5;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 2px;
        font-weight: bold;
        font-size: 10px;
        color: #FFFFFF;
    }
}

#gatewayMains
{
    float: right;
    margin-right: 5px;
    width: 310px;
    background-color: @containerBackground;
    box-shadow: @boxShadow;
    height: ~"calc(100% - 5px)";
    overflow: hidden;

    &:before
    {
        content: "Main Gateways";
        display: block;
        text-align: center;
        background-color: #3f51b5;
        border-bottom: solid 1px #3f51b5;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 2px;
        font-weight: bold;
        font-size: 10px;
        color: #FFFFFF;
    }
}

#gatewayDetails
{
    position: absolute;
    top: 35px;
    left: 0px;
    right: calc(@errorPanel + 5);
    bottom: 0px;
    overflow: hidden;
    display: none;

    & h2
    {
        margin: 0px;
    }
}

#graphs
{
    .container;
    top: 5px;
    left: 5px;
    right: 240px;
    bottom: 5px;
}

#cpuGraphTitle
{
    position: absolute;
    top: 5px;
    left: 5px;
}

#searchGraphTitle
{
    position: absolute;
    top: ~"calc(25vh - 10px)";
    left: 5px;
}

#pvsGraphTitle
{
    position: absolute;
    bottom: ~"calc(50vh - 30px)";
    left: 5px;
}

#networkGraphTitle
{
    position: absolute;
    bottom: ~"calc(25vh - 20px)";
    left: 5px;
}

#cpuGraph
{
    position: absolute;
    top: 30px;
    left: 5px;
    right: 5px;
    height: ~"calc(25vh - 25px)";
}

#searchesGraph
{
    position: absolute;
    top: ~"calc(25vh + 15px)";
    left: 0px;
    right: 5px;
    height: ~"calc(25vh - 45px)";
}

#pvsGraph
{
    position: absolute;
    bottom: ~"calc(25vh - 5px)";
    left: 0px;
    right: 5px;
    height: ~"calc(25vh - 25px)";
}

#networkGraph
{
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 5px;
    height: ~"calc(25vh - 45px)";
}

#infos
{
    .container;
    top: 5px;
    right: 5px;
    width: 230px;
    bottom: 5px;
    padding: 5px;
}

#errorsView
{
    position: absolute;
    top: 35px;
    right: 0px;
    width: calc(@errorPanel+4px);
    bottom: 125px;
    overflow: hidden;
    .container;

    &:before
    {
        .containterLabel;
        content: "Errors";
    }
}

#errorsContent
{
    position: absolute;
    top: 16px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    overflow-y: scroll;

    a
    {
        .button;
        background-color: #b60000;
        margin-bottom: 5px;
        width: ~"calc(100% - 10px)";
    }

    span
    {
        display: inline-block;
        width: ~"calc(100% - 10px)";
        height: 64px;
        line-height: 64px;
        font-size: 16px;
        color: white;
        background-color: #00b725;
        background-image: url('/Images/fine.png');
        background-repeat: no-repeat;
        margin-top: 10px;
        padding-right: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        text-align: right;
    }
}

#currentTime
{
    .container;
    bottom: 5px;
    right: 0px;
    height: 35px;
    width: calc(@errorPanel+4px);
    padding-top: 17px;
    text-align: center;

    &:after
    {
        .containterLabel;
        content: "UTC Time";
    }
}

#freeSpace
{
    .container;
    bottom: 85px;
    right: 0px;
    height: 35px;
    width: calc(@errorPanel+4px);
    padding-top: 17px;
    text-align: center;

    &:after
    {
        .containterLabel;
        content: "Free DB Space";
    }
}

#bufferSpace
{
    .container;
    bottom: 45px;
    right: 0px;
    height: 35px;
    width: calc(@errorPanel+4px);
    padding-top: 17px;
    text-align: center;

    &:after
    {
        .containterLabel;
        content: "Buffer";
    }
}


#detailsButtons
{
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;

    a, div
    {
        display: block;
        margin-top: 3px;
        text-align: center;
    }
}

.hamburger
{
    display: inline-block;
    vertical-align: top;

    div
    {
        border-radius: 2px;
        background-color: white;
        height: 3px;
        width: 20px;
        margin-top: 2px;
    }
}

#hamburgerMenu
{
    position: fixed;
    top: 33px;
    bottom: 0px;
    left: -200px;
    width: 200px;
    box-shadow: rgba(0,0,0,0.2) 2px 0px 2px;
    background-color: @labelBackgroundColor;
    color: @labelColor;
    padding-top: 10px;
    transition: all 0.5s ease-in-out;

    div
    {
        font-size: 16px;
        padding: 5px;
        cursor: pointer;
        margin-bottom: 3px;

        &:hover
        {
            background-color: @menuHoverBgColor;
        }
    }
}

.visibleHamburger
{
    left: 0px !important;
}

#reportView
{
    position: absolute;
    left: 0px;
    right: calc(@errorPanel + 10px);
    bottom: 0px;
    top: 34px;
    background-color: @containerBackground;
    display: none;

    .k-grid-content
    {
        height: ~"calc(100% - 32px)";
    }
}

.fixed
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.topClose
{
    position: fixed;
    z-index: 1000000;
    top: 60px;
    right: calc(@errorPanel + 35px);
}

.no-scrollbar .k-grid-header
{
    padding: 0 !important;
}

.no-scrollbar .k-grid-content
{
    overflow-y: visible;
}

.oldGatewayVersion
{
    background-color: #ffa4a4 !important;
}

.summary
{
    background-color: #cdd3d4 !important;
    font-weight: bold;
}

#showLastBtn
{
    position: absolute;
    bottom: ~"calc(50% - 30px - @{borderSpacing} - @{borderSpacing})";
    right: 30px;
    .button;
    display: none;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 2px;
}

#dbgEpicsTable
{
    width: 500px;

    & tr > td:first-child
    {
        font-weight: bold;
        white-space: nowrap;
        width: 1%;
    }

    & input, & td > span
    {
        width: 100%;
    }
}

.dbgCheckResult
{
    display: inline-block;
    width: ~"calc(25% - 6px)";
    overflow: hidden;
    vertical-align: top;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 3px;

    & table
    {
        width: 100%;
        white-space: nowrap;
    }

    & table tr > td:first-child
    {
        font-weight: bold;
        width: 1%;
    }
}

.dbgSucceed
{
    font-weight: bold;
    color: #007e06;
}

.dbgFail
{
    font-weight: bold;
    color: #cf0000;
}

#wrgChannelSearch
{
    position: absolute;
    top: 160px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#subscriptionGrid
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 90px;
    bottom: 40px;
}

#subscriptionButtons
{
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 5px;

    & span
    {
        margin-right: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

#mapView
{
    .container;
    display: none;
    position: absolute;
    top: 35px;
    left: 5px;
    right: calc(@errorPanel + 8);
    bottom: 5px;
    overflow: hidden;
    padding-top: 35px;

    &:before
    {
        .containterLabel;
        content: "Map";
        position: fixed;
        top: 35px;
        left: 5px;
        right: @errorPanel + 24;
        width: auto;
    }
}

#toolTip
{
    background-color: rgba(80,80,80,0.9);
    position: absolute;
    padding: 5px;
    color: #ebeaea;
    display: none;
    box-sizing: border-box;
}

#searchLi {
    &:hover {
        background-color: #3f51b5;
    }
    padding-top: 4px;
    #searchInput {
        height: 16px;
        line-height: 16px;
    }
}