body
{
    background-color: #e6e6e6;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.container
{
    position: absolute;
    background-color: white;
    box-shadow: #9d9d9d 1px 1px 2px;
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
}

.containterLabel
{
    position: absolute;
    display: block;
    width: 100px;
    text-align: center;
    background-color: #edeada;
    border-right: solid 1px #bfbca8;
    border-bottom: solid 1px #bfbca8;
    border-bottom-right-radius: 3px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    color: #979275;
}

#sessionSelector
{
    .container;
    left: 0px;
    top: 0px;
    width: 195px;
    bottom: 5px;
    padding: 5px;
    padding-top: 17px;

    &:after
    {
        .containterLabel;
        content: "Session";
    }
}

#gatewaySelector 
{
    display: block;
    width: 100%;
}

#timeRange
{
    .container;
    top: 0px;
    left: 200px;
    height: 95px;
    right: 5px;

    &:after
    {
        .containterLabel;
        content: "Time Range";
    }
}

#timeRangeCanvas 
{
    position: absolute;
    left: 0px;
    top: 0px;
}

#content
{
    .container;
    top: 100px;
    left: 200px;
    right: 5px;
    bottom: 5px;
    padding: 5px;
}

#gatewaySessions
{
    font-size: 12px;
}
