@backgroundColor: #e6e6e6;
@boxShadow: #9d9d9d 1px 1px 2px;
@labelBackgroundColor: #edeada;
@labelColor: #979275;
@leftSidebar: 300px;
@timeRangeHeight: 100px;
@borderSpacing: 5px;


@middleSidebar: (@leftSidebar+5)/2;

body
{
    background-color: @backgroundColor;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.container
{
    position: absolute;
    background-color: white;
    box-shadow: @boxShadow;
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
}

.containterLabel
{
    position: absolute;
    display: block;
    width: 100px;
    text-align: center;
    background-color: @labelBackgroundColor;
    border-right: solid 1px darken(@labelBackgroundColor, 30%);
    border-bottom: solid 1px darken(@labelBackgroundColor, 30%);
    border-bottom-right-radius: 3px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    color: @labelColor;
}

#sessionSelector
{
    .container;
    left: 0px;
    top: 0px;
    width: @leftSidebar;
    bottom: @borderSpacing;
    padding: 5px;
    padding-top: 17px;

    &:after
    {
        .containterLabel;
        content: "Session";
    }
}

#gatewaySelector
{
    display: block;
    width: 100%;
}

#timeRange
{
    .container;
    top: 0px;
    left: (@leftSidebar + @borderSpacing);
    height: @timeRangeHeight;
    right: @borderSpacing;

    &:after
    {
        .containterLabel;
        content: "Time Range";
    }
}

#timeRangeCanvas
{
    position: absolute;
    left: 0px;
    top: 0px;
}

#help
{
    .container;
    top: (@timeRangeHeight + @borderSpacing);
    left: (@leftSidebar + @borderSpacing);
    right: @borderSpacing;
    bottom: @borderSpacing;
    padding: 5px;
}

#gatewaySessions
{
    font-size: 12px;
}

#clients
{
    .container;
    top: (@timeRangeHeight + @borderSpacing);
    left: (@leftSidebar + @borderSpacing);
    width: ~"calc(50vw - @{middleSidebar} - @{borderSpacing})";
    height: ~"calc(50% - @{timeRangeHeight} - @{borderSpacing})";
    display: none;
    padding-top: 16px;

    &:after
    {
        .containterLabel;
        content: "Clients";
    }
}

#servers
{
    .container;
    top: (@timeRangeHeight + @borderSpacing);
    right: @borderSpacing;
    width: ~"calc(50vw - @{middleSidebar} - @{borderSpacing})";
    height: ~"calc(50% - @{timeRangeHeight} - @{borderSpacing})";
    display: none;
    padding-top: 16px;

    &:after
    {
        .containterLabel;
        content: "Servers";
    }
}

#logs
{
    .container;
    bottom: @borderSpacing;
    left: (@leftSidebar + @borderSpacing);
    right: @borderSpacing;
    height: ~"calc(50% - @{borderSpacing} - @{borderSpacing})";
    display: none;
    padding-top: 16px;

    &:after
    {
        .containterLabel;
        content: "Logs";
    }
}
