<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="gatewayName" value="PBGW"/>
    <add key="log" value="3"/>
    <add key="soapLogger" value="true"/>
    <add key="soapURL" value="http://localhost:60669/DataAccess.asmx"/>
  </appSettings>
</configuration>
