<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="serverAddress" value="129.129.194.45"/>
    <!--<add key="clientSearchAddress" value="129.129.230.121:5064"/>-->
    <!--<add key="clientSearchAddress" value="129.129.230.122:5062"/>-->
    <!--<add key="clientSearchAddress" value="129.129.194.45:5064"/>-->
    <add key="clientSearchAddress" value="129.129.230.139:5062"/>
  </appSettings>
</configuration>