<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
  </system.webServer>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.webServer>
    <caching enabled="false" />
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="500000000" executionTimeout="120" />
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authentication mode="Windows" />
    <authorization>
      <allow users="?" />
    </authorization>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="storageKeepDays" value="10" />
    <add key="storageDirectory" value="C:\temp\t2" />
    <add key="ldapServer" value="d.psi.ch"/>
    <add key="ldapRoot" value="dc=d,dc=psi,dc=ch" />
    <add key="smtpSenderAddress" value="no-reply@caesar.psi.ch"/>
    <add key="smtpServer" value="mail.psi.ch"/>
    <add key="e#ServerList" value="sls-cagw.psi.ch:5062;sls-arch-cagw02.psi.ch:5062;hipa-cagw02:5062;172.25.11.67:5062;172.21.10.14:5062;172.22.200.117:5062;172.21.70.14:5062;sf-cagw.psi.ch:5062;cryo-cagw.psi.ch:5062;testcagw01:5062"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DirectCommandsSoap" />
        <binding name="DataAccessSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DirectCommandsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DataAccessSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://inventory.psi.ch/DataAccess.asmx" binding="customBinding"
        bindingConfiguration="DataAccessSoap12" contract="Inventory.DataAccessSoap"
        name="DataAccessSoap12" />
      <endpoint address="http://inventory.psi.ch/manage/DirectCommands.asmx"
        binding="customBinding" bindingConfiguration="DirectCommandsSoap12"
        contract="Inventory.Controller.DirectCommandsSoap" name="DirectCommandsSoap12" />
    </client>
  </system.serviceModel>
  <location path="AuthAccess">
    <!-- Requires windows auth to access this directory structure -->
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
          <basicAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>