<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings xdt:Transform="Replace">
    <!--<add key="storageDirectory" value="\\gfa-synonas-03\cagw_logging"/>-->
    <add key="storageDirectory" value="c:\\log_storage"/>
    <add key="storageKeepDays" value="5" />
    <add key="historyStorage" value="c:\temp\"/>
    <add key="ldapServer" value="d.psi.ch"/>
    <add key="ldapRoot" value="dc=d,dc=psi,dc=ch" />
    <add key="smtpSenderAddress" value="no-reply@caesar.psi.ch"/>
    <add key="smtpServer" value="mail.psi.ch"/>
    <add key="e#ServerList" value="sls-cagw.psi.ch:5062;hipa-cagw02:5062;172.25.11.67:5062;172.21.10.14:5062;172.22.200.117:5062;172.21.70.14:5062;sf-cagw.psi.ch:5062;cryo-cagw.psi.ch:5062;testcagw01:5062"/>
  </appSettings>
</configuration>
